
<div class="stats">
  <a href="<%= watching_user_path(@user) %>">
    <strong id="watching" class="stat">

    </strong>
    Members I'm Watching
  </a>
  <div>
  <a href="<%= contacts_user_path(@user) %>">
    <strong id="contacts" class="stat">
  
    </strong>
    My Contacts
  </a>
</div>
</div>